    /* ------------------------ header css ------------------------ */
.header{
   outline: none;
   display: block;
}

.container{
    max-width: 400px;
    background-image: linear-gradient(0,8,51,0.9);
    min-width: 100%;
}

form{
    max-width: 600px;
    height: 53px;
    margin: -94px 380px 100px 390px;
    border-radius: 25px;
    border: 2px solid #0d0c1b;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif ';
}

.search-bar-input{
    height: 25px;
    width: 350px;
    padding: 10px 10px;
    font-size: 25px;
    color: #0d0c1b;
    align-content: left;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(255, 255, 255);
    outline: 2px;
    flex: 1;
    border: 0;
}

::placeholder{
    color: #0d0c1b;
}

.search-bar-button img{
    width: 25px;
}

.search-bar-button{
    margin-top: 5px;
    margin-left: 136px;
    border: 0;
    border-radius: 28px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 40px;
    height: 40px;
    background: black;
    cursor: pointer;
}
    /* --------------------- end header css ------------------------ */

    /* ------------------------- body css ------------------------- */

.blue{
    width: 1000px;
    height: 120px;
    background-color: blue;
}

.aqua{
    background-color: aqua;
    width: 300px
}

.body{
    min-height: 800px;
   
}

.middle{
    height: 70%;
    width: 70%;
    border-left: 70px;
    
}
.background1{
    position: fixed;
}

.logo{
    margin-left: 100px;
    max-width: 100%;
    height:auto
    
}
    
    /* ----------------------- end body css ----------------------- */
        
    /* ---------------------- footer css ------------------------ */




    /* --------------------- end footer css --------------------- */
